PORT=3003
RABBITMQ_URL=amqp://guest:guest@localhost:5672
USER_SERVICE_URL=http://localhost:3001
PRODUCT_SERVICE_URL=http://localhost:3002
# DATABASE_URL=postgresql://user:pass@localhost:5432/ecommerce
